<div id="<%= dom_id service %>">
  <p>
    <strong>Service:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= service.body %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= service.quantity %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= service.rate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

</div>
