<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </p>

  <p>
    <strong>Secondary phone number:</strong>
    <%= customer.secondary_phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

</div>
