<p style="color: green"><%= notice %></p>

<%= render @customer %>

<br>

<h3>Vehicles</h3>

<table>
  <thead>
    <tr>
      <div class="container">
        <div class="row">
          <th class="col-1">Make</th>
          <th class="col-1">Model</th>
          <th class="col-1">Color</th>
          <th class="col-1">Plate Number</th>
          <th class="col-1">Description</th>
          <th colspan="1"></th>
        </div>
      </div>
    </tr>
  </thead>
  <tbody>
    <div class="container">
      <% @customer.vehicles.each do |vehicle| %>
      <tr>
        <div class="row">
            <td class="col-1"><%= vehicle.make %></td>
            <td class="col-1"><%= vehicle.model %></td>
            <td class="col-1"><%= vehicle.color %></td>
            <td class="col-1"><%= vehicle.plates %></td>
            <td class="col-1"><%= vehicle.description %></td>
        </div>
      </tr>
      <% end %>
    </div>
  </tbody>
</table>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
