<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vehicle.display_owner %>
  </p>

  <p>
    <strong>Plates:</strong>
    <%= vehicle.plates %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vehicle.description %>
  </p>

  <p>
    <strong>Image:</strong>
  </p>
    <%= image_tag @vehicle.vehicle_source.url, class: "vehicle-show" %>

</div>
