<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= vehicle.customer_id %>
  </p>

  <p>
    <strong>Plates:</strong>
    <%= vehicle.plates %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vehicle.description %>
  </p>

</div>
