<%= form_with(model: log) do |form| %>
  <% if log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer, style: "display: block" %>
    <%= collection_select(:log, :title, Customer.all, :id, :display_name, prompt: true) %>
  </div>

  <div>
    <%= form.label :car, style: "display: block" %>
    <%= form.text_area :model %>
  </div>

  <div class="field">
      <%= form.label :services, style: "display: block" %>
      <%= hidden_field_tag "log[service_ids][]", nil%>
    <% Service.all.each do |service|%>
      <%= check_box_tag "log[service_ids][]", service.id, @log.service_ids.include?(service.id), id: dom_id(service)%>
      <%= label_tag dom_id(service), service.title%><br>
    <% end %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_select :service_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_area :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
