<div id="<%= dom_id log %>">
  <p>
    <strong>Customer:</strong>
    <%= log.title %>
  </p>

  <p>
    <strong>Car Model:</strong>
    <%= log.model %>
  </p>
  <p>
    <strong>Service Availed:</strong>
    <%= log.service_ids.to_sentence %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= log.status %>
  </p>

</div>
