<div id="<%= dom_id log %>">
  <p>
    <strong>Customer:</strong>
    <%= log.display_customer %>
  </p>

  <p>
    <strong>Car Model:</strong>
    <%= log.display_vehicle %>
  </p>
  <p>
    <strong>Service Availed:</strong>
    <%= log.service_ids.to_sentence %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= log.status %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= log.service_date&.strftime("%m-%d-%Y") %>
  </p>

</div>
