<p style="color: green"><%= notice %></p>

<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <div class="container">
        <div class="row">
          <th class="col-3">Name</th>
          <th class="col-2">Car Model</th>
          <th class="col-2">Service Availed</th>
          <th class="col-2">Status</th>
          <th class="col-2">Date</th>
          <th colspan="1"></th>
        </div>
      </div>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <div class="container">
          <div class="row">
            <td class="col-3"><%= log.title.upcase %></td>
            <td class="col-2"><%= log.model %></td>
            <td class="col-2"><%= log.service&.title %></td>
            <td class="col-2"><%= log.status %></td>
            <td class="col-2"><%= log.dateinstructed %></td>
            <td class="col-1"><%= link_to "Show this log", log %></td>
        </div>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New log", new_log_path %>
